<div id="<%= dom_id consultum %>">
  <p>
    <strong>Paciente:</strong>
    <%= consultum.paciente %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= consultum.medico %>
  </p>

  <p>
    <strong>Data hora:</strong>
    <%= consultum.data_hora %>
  </p>

</div>
