<div id="<%= dom_id consultum %>">
  <p>
    <strong>Medico:</strong>
    <%= consultum.medico.nome %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= consultum.medico.especialidade %>
  </p>

  <p>
    <strong>Data e hora:</strong>
    <%= consultum.data_hora %><br>
    -------------------------------
  </p>

</div>
