<div id="<%= dom_id consultum %>">
  <p>
    <strong>Medico:</strong>
    <%= consultum.medico %>
  </p>

  <p>
    <strong>Data hora:</strong>
    <%= consultum.data_hora %><br>
    -------------------------------
  </p>

</div>
