<h1>Editing consultorio</h1>

<%= render "form", consultorio: @consultorio %>

<br>

<div>
  <%= link_to "Show this consultorio", @consultorio %> |
  <%= link_to "Back to consultorios", consultorios_path %>
</div>
