<p style="color: green"><%= notice %></p>

<h1>Consultorios</h1>

<div id="consultorios">
  <% @consultorios.each do |consultorio| %>
    <%= render consultorio %>
    <p>
      <%= link_to "Show this consultorio", consultorio %>
    </p>
  <% end %>
</div>

<%= link_to "New consultorio", new_consultorio_path %>
